{
	"presets": [
		"react-native"
	],
	"plugins": [
		["module-resolver", {
			"root": ["./app"],
			"alias": {
				"app": "./app",
				"components": "./app/components",
				"containers": "./app/containers"
			}
		}],
		"babel-plugin-transform-object-rest-spread"
	]
}